.poppi {font-family: 'Poppins';}

.h55 { font-size: 14px;
       font-weight:900 ;
       text-transform: uppercase; }

.extra {font-family: 'Poppins';}

.menu { font-size: 42px;
        font-weight:900 ;
        width: 498px; }